@page "/binding-directive"

<PageTitle>Home</PageTitle>

<h1>Binding Directive Example</h1>

<div>
    <textarea @bind="Description" @bind:event="oninput" />
</div>
<div>
    Typed Content : @Description
</div>

@code
{
    public string Description { get; set; } = string.Empty;
}